{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="format-controller">
    <div class="container-glass6">
        <img class="rounded" src="{% static 'images/logo.png' %}" alt="">
        <div class="content-section2 mb-4">
            <div class="content-section mb-4">
                <form id="login_form">
                    <fieldset class="form-group login-container mt-4">
                        <legend class="border-bottom mb-4 login-form mt-4">Login</legend>
                        <div class="form-group mb-4 login-form "> <label for="username" required>
                                Username<span class="asteriskField"></span> </label>
                            <div>
                                <input type="text" id="username" name="username" autofocus autocapitalize="none"
                                    autocomplete="username" maxlength="150" class="textinput form-control" required>
                            </div>
                        </div>
                        <div class="form-group mb-2 login-form">
                            <label for="password" required name="Password">
                                Password<span class="asteriskField"></span> </label>
                            <div class="input-group">
                                <input type="password" id="password" name="password" autocomplete="current-password"
                                    class="textinput form-control" required>
                                <span id="id_new_toggleIcon" class="fas fa-eye field-icon toggle-password input-group-text textinput " 
                                    data-target-input="password" data-eye-class="fa-eye" 
                                    data-eye-slash-class="fa-eye-slash"></span>
                            </div>
                            
                        </div>
                    </fieldset>
                    <div class="form-group mt-4 login-button login-button:hover">
                        <button class="btn btn-primary custom-hover-color" type="submit">Login</button>
                    </div>
                </form>
                <div id="loader" class="loader"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}

<script>
    const LOGIN_URL = "{% url 'login' %}";
    const CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script src="{% static 'js/login.js' %}"></script>
{% endblock javascript %}